$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

////Typography Colours////
$color_font-nav: white;
$color_font-nav-hover: #3F8C3F;
$color_font-logo: white;
$color_font-text: white;
$color_font-content-text: #404040;
$color_font-headings: white;
$color_font-page-headings: white;
$color_font-medium-text: #868686;
$color_font-dark-text: #5E5E5E;
$color_placeholder-text: #dfdfdf;
$color_font-dark-text: #2D2D2D;

////Site////
$color_site-main-background: rgba(153, 153, 153, 0.2);
$color_archive-sorting-background: rgb(68, 68, 68);
$color_contact-overlay: rgba(0, 0, 0, 0.5);

$color_background_main: #F3F3F3;


////Aircraft Profiles////
$color_aircraft-section-title-background: #2D2D2D;
$color_font_aircraft-section-title-h2: #E1E1E1;

////Archives////
$color_dark-backgrounds: #5E5E5E;
$color_medium-backgrounds: #868686;
$color_font-light-headings: #EBEBEB;


////Header////
$color_header-main-nav-background: rgba(255,255,255,0);
$color_header-main-nav-background-hov: rgba(153, 153, 153, 0.6);
$color_header-main-nav-link-background-hover: rgba(255,255,255,0.9);
$color_header-main-nav-border: rgba(255,255,255,0.5);
$color_page_header-h2: #8C8C8C;


////Footer////

$color_footer-background: rgb(68, 68, 68);
$color_footer-copyright-background: #2D2D2D;

$color_footer-headings: #E1E1E1;
$color_footer-text: #8C8C8C;
$color_footer-link-active: white;

$size__site-main: 100%;
$size__site-sidebar: 25%;

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font_text: 'Metrophobic', sans-serif;
$font_heading: 'Jura', sans-serif; 
$font_logo: 'Orbitron', sans-serif;
$font_nav: 'Orbitron', sans-serif;

$font_text_size_mobile: 1rem;
$font_text_size_desktop: 1.1rem;
    

